= stylesheet_link_tag 'rails_admin/rails_admin_nested_set'
= javascript_include_tag 'rails_admin/rails_admin_nested_set'

.row-fluid
  .span12#rails_admin_nestable
    = rails_admin_nested_set @nodes
